body{
    background-color: lightgray;
}

h1 {
    font-style: oblique;
    text-align: center;
    color:red;
    text-shadow: red 3px 3px 5px;

    
}

pre{
    color: blue;
}

#Q{
    color: red;
}